# Binaries
main
*.exe
*.dll
*.so
*.dylib

# Environment
.env
.env.local
.env.prod
.env.*.local
.env.*.prod

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# Test
*.test
coverage.out
coverage.html

# OS
.DS_Store
Thumbs.db
